.rightside__chatmain    
  .rightside__chatmain__messagebox
    .rightside__chatmain__messagebox__partial
      %p.rightside__chatmain__messagebox__partial__name
        = message.user.name
      %p.rightside__chatmain__messagebox__partial__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    %p.rightside__chatmain__messagebox__partial__message
      =message.text if message.text.present?
    =image_tag message.image,{class:"rightside__chatbox__partial__image"} if message.image.present?
   





