.rightside__chatmain    
  .rightside__chatmain__messagebox
    .rightside__chatmain__messagebox__patial
      .rightside__chatmain__messagebox__patial__name
        = message.user.name
      .rightside__chatmain__messagebox__patial__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
   


  .rightside__chatmain__messagebox
    .rightside__chatmain__messagebox__patial
      %p.rightside__chatmain__messagebox__patial__name
        momosakiyuta 
      %p.rightside__chatmain__messagebox__patial__date
        2019.10/7(Fri) 18:45:39
    %p.rightside__chatmain__messagebox__patial__text
      こんにちは!
