.leftside__groupbox
  .leftside__groupbox__userbox
    %p.leftside__groupbox__userbox__name 百崎悠太
    %p.leftside__groupbox__userbox__message Hello World!
    %p.leftside__groupbox__userbox__name 百崎悠太
    %p.leftside__groupbox__userbox__message Hello World!
    %p.leftside__groupbox__userbox__name 百崎悠太
    %p.leftside__groupbox__userbox__message Hello World!


