.rightside__chatmain    
  .rightside__chatmain__messagebox
    .rightside__chatmain__messagebox__patial
      .rightside__chatmain__messagebox__patial__name
        = message.user.name
      .rightside__chatmain__messagebox__patial__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    %p.rightside__chatbox__partial__message
      =message.content if message.content.present?
    =image_tag message.image,{class:"rightside__chatbox__partial__image"} if message.image.present?
    